@model IEnumerable<SKtimeManagement.OrderRecord>
@{
    var id = Guid.NewGuid().ToString();
}
<div id="orders-@id" class="text-center tbl">
    <table data="@id" keys="ID">
        <thead>
            <tr>
                <td></td>
                <td name="Code"><div>Mã</div></td>
                <td name="WarehouseName"><div>Kho</div></td>
                <td name="TotalString"><div>Tổng tiền</div></td>
                <td name="EmployeeName"><div>Nhân viên</div></td>
            </tr>
        </thead>
    </table>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#orders-@id',
        input: {
            id: '@id',
            input: [
                {
                    html: '<div><a id="view" href="@Url.Action("Detail", "Order", new { id = "_ID" })" class="button-icon view"></a>'
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>