@model IEnumerable<SKtimeManagement.ProductInfo>
@{
    var id = Guid.NewGuid().ToString();
    var listID = Guid.NewGuid().ToString();
}
<div id="@listID" class="group">
    <h3 class="head-line">Danh sách</h3>
    <div id="content">
        <div class="tbl">
            <table data="@id" keys="ID">
                <thead>
                    <tr>
                        <td width="50"></td>
                        <td name="Code"><div>Mã</div></td>
                        <td name="Name"><div>Tên</div></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#@listID',
        input: {
            id: '@id',
            input: [
                {
                    html: '<div><a href="@Url.Action("OldOrder", "Warranty", new { id = "_ID" })" for="selected-order" ptitle="Bảo hành" changeurl="false" class="button-icon view"></a></div>'
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>