@model IEnumerable<SaleOffset>
@{ 
    var scripts = new List<string>();
    var id = Guid.NewGuid().ToString();
    var jsonData = Html.JsonSerialize(Model);
    scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
}
<div class="tbl">
    <table data="@id" keys="ID">
        <thead>
            <tr>
                <td width="50"></td>
                <td name="OffsetString" text="right"><div>Doanh thu</div></td>
                <td name="Value" text="right"><div>Hệ số</div></td>
            </tr>
        </thead>
    </table>
</div>
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#offsets-list',
        input: {
            id: '@id',
            input: [
                {
                    html: '@Html.Raw(String.Format("<div><a id=\"remove\" href=\"{0}\" target=\"_self\" class=\"button-icon remove\"></a></div>", Url.Action("RemoveOffset", "Salary", new { id = "_ID" })))',
                    event: [
                        {
                            id: 'remove',
                            key: 'click',
                            handler: function () {
                                AjaxRequest({
                                    url: $(this).attr('href'),
                                    success: function (data) {
                                        if (data.html) {
                                            $('#offsets-list').html(data.html);
                                        }
                                    }
                                });
                                return false;
                            }
                        }
                    ]
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>