@model IEnumerable<SKtimeManagement.SalaryInfo>
@{
    var id = Guid.NewGuid().ToString();
    var html = String.Format(@"<div><a id=""view"" href=""{0}"" for=""salary-detail"" changeurl=""false"" ptitle=""Nhân viên"" class=""button-icon view""></a></div>", Url.Action("Detail", "Salary", new { id = "_ID" }));
}
<h3 class="head-line">Lương</h3>
<div id="content">
    <div class="tbl">
        <table data="@id" keys="ID">
            <thead>
                <tr>
                    <td width="50"></td>
                    <td name="EmployeeName"><div>Tên</div></td>
                    <td name="MonthString"><div>Tháng</div></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#salary-list',
        input: {
            id: '@id',
            input: [
                {
                    html: '@Html.Raw(html)'
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>