@model IEnumerable<SKtimeManagement.IncomeInfo>
@{
    var id = Guid.NewGuid().ToString();
}
<div>
    <span class="info">Số phiếu: <strong style="font-size: 20px;">@Model.Count()</strong></span><br />
    <span class="info">Tổng tiền: <strong style="font-size: 20px;">@Model.Sum(o => o.Amount).GetCurrencyString() VND</strong></span>
</div>
<div id="incomes-@id" class="text-center tbl">
    <table data="@id">
        <thead>
            <tr>
                <td name="Code"><div>Mã phiếu</div></td>
                <td name="WarehouseName"><div>Kho</div></td>
                <td name="EmployeeName"><div>Nhân viên</div></td>
                <td name="SubmitDateString"><div>Ngày tạo</div></td>
                <td name="AmountString" text="right"><div>Số tiền</div></td>
                <td name="Type"><div>Phương thức</div></td>
                <td name="Reason"><div>Lý do</div></td>
                <td name="Note"><div>Ghi chú</div></td>
            </tr>
        </thead>
    </table>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({ e: '#incomes-@id' });
    _TableFunctions.RefreshData();
</script>