@model IEnumerable<SKtimeManagement.ExportProduct>
@{ 
    var id = Guid.NewGuid().ToString();
}
<div class="tbl">
    <table data="@id" keys="ID,RepairID">
        <thead>
            <tr>
                <td width="50"></td>
                <td name="Code"><div>Mã SP</div></td>
                <td name="ProductName"><div>Tên</div></td>
                <td name="QuantityString"><div>Số lượng</div></td>
            </tr>
        </thead>
    </table>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#repair-item-list',
        input: {
            id: '@id',
            input: [
                {
                    html: '<div><a href="@Url.Action("RemoveProduct", "Repair", new { id = "_ID", subID = "_RepairID" })" for="repair-item-list" changeurl="false" ptitle="Sửa chữa" class="button-icon remove"></a></div>'
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>