@model IEnumerable<ImexItem>
@{
    var id = Guid.NewGuid().ToString();
    var html = String.Format(@"<div><a id=""add"" href=""{0}"" class=""button-icon add""></a></div>", Url.Action("Add", "Import", new { id = "_ID", subID = "_subID" }));
}
<h3 class="head-line">Danh sách</h3>
<div id="content">
    <div class="tbl">
        <table data="@id" keys="ID">
            <thead>
                <tr>
                    <td width="50"></td>
                    <td name="Code"><div>Mã SP</div></td>
                    <td name="Name"><div>Tên</div></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
    scripts.Add(String.Format("var _html = '{0}'", html));
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#import #selector',
        input: {
            id: '@id',
            input: [
                {
                    html: _html,
                    event: [
                        {
                            id: 'add',
                            key: 'click',
                            handler: function () {
                                AjaxRequest({
                                    url: $(this).attr('href').replace('_subID', $('#import #selector [name="WarehouseID"]').val()),
                                    success: function (data) {
                                        if (data.html) {
                                            $('#import-data').html(data.html);
                                        }
                                    }
                                });
                                return false;
                            }
                        }
                    ]
                }
            ]
        }
    });
    _TableFunctions.RefreshData();
</script>
@if (Model.Count() == 1)
{
    <script>
        $('#import #selector input[name="Code"]').val('');
        AjaxRequest({
            url: '@Url.Action("Add", "Import", new { id = Model.FirstOrDefault().ID, subID = Model.FirstOrDefault().WarehouseID })',
            success: function (data) {
                if (data.html) {
                    $('#import-data').html(data.html);
                }
            }
        });
    </script>
}