@model SKtimeManagement.ImportList
@{
    ViewBag.Title = "Nhập kho";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="tabs">
    <div id="heads">
        <span class="active">Nhập kho</span>
        <a href="@Url.Action("Create", "Export")" target="_self" for="main-content" ptitle="Xuất kho">Xuất kho</a>
        <a href="@Url.Action("Create", "Order")" target="_self" for="main-content" ptitle="Hóa đơn">Hóa đơn</a>
    </div>
</div>
<div id="import" class="flexible">
    <div id="import-history" class="w25">
        @Html.Partial(Views.Filter, Model)
    </div>
    <div id="import-detail" class="w75">
        @Html.Partial(Views.UpdatePartial, Model)
    </div>
</div>